---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import PhoneHero from '~/components/widgets/PhoneHero.astro';

const metadata = {
  title: 'A Greater Republic Political Action Committee',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <PhoneHero image={{ src: '~/assets/images/austin.jpg', alt: 'Capitol Building, Austin, Texas' }}>
    <Fragment slot="title">
      Stop siting on the sidelines<br />
      <span class="text-redAGR dark:text-white"> Fight for A Greater Republic</span>
    </Fragment>

    <Fragment slot="subtitle">
      A Greater Republic began with a group of conservative voters concerned for our local politics. Watching Texas
      counties turn from their roots in faith, freedom, and justice, A Greater Republic organized to support traditional
      values. <span className="boldMessage">Text us to get started.</span>
    </Fragment>
  </PhoneHero>
  <FAQs
    title="Frequently Asked Questions"
    subtitle=""
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why A Greater Republic?',
        description:
          'A Greater Republic PAC was founded with the belief that a healthy constitutional republic depends on an informed and engaged citizenry. We exist to empower individuals to take an active role in the political process, ensuring that the voices of the people are heard by their elected officials. Our mission is to provide the tools, training, and resources needed to support voter engagement, poll workers, GOP precinct chairs, and grassroots advocacy. We believe that when citizens are educated and mobilized, they can make a meaningful impact on their communities and the broader political landscape.',
      },
      {
        title: 'How Does My Support Help?',
        description:
          'Your support is crucial to the success of our mission. Contributions to A Greater Republic PAC go directly toward funding voter engagement initiatives, training programs for poll workers and precinct chairs, and grassroots advocacy efforts. Additionally, your donations help us provide access to critical voter data and a texting platform that enhances communication within communities. With your support, we can continue to educate citizens on their legal rights, assist with pro se legal actions, and organize events that support local candidates and political causes. Every dollar you contribute helps to build a more informed, engaged, and empowered electorate.',
      },
      {
        title: 'What Communities Do You Reach?',
        description:
          'A Greater Republic PAC serves communities across the United States, focusing on areas where there is a strong desire for greater political engagement and education. We work with individuals who are passionate about making a difference in their local, state, and national political landscapes. Our reach extends to GOP precincts, grassroots organizations, and voters who are committed to ensuring fair and efficient elections. We aim to connect people from diverse backgrounds who share a common goal: to build a stronger, more responsive constitutional republic.',
      },
      {
        title: 'How Can I Volunteer My Time?',
        description:
          'Volunteering with A Greater Republic PAC is a rewarding way to contribute to the political process. We offer a variety of volunteer opportunities, from helping with voter registration drives and election day activities to participating in grassroots advocacy efforts and supporting local events. Whether you have a few hours a week or can commit to a more significant role, there is a place for you in our organization. To get started, simply fill out our volunteer interest form on our website, and we’ll connect you with opportunities that match your skills and interests',
      },
      {
        title: 'What Do I Need to Do to Start?',
        description:
          'Staying connected with A Greater Republic PAC is easy. To receive text alerts and emails, simply visit our website and sign up for our communications. You can choose to receive updates on specific topics like volunteer opportunities, upcoming events, calls to action, or general news about our efforts. When you sign up, you’ll be asked to provide your email address and mobile number, and you can customize your preferences to ensure you receive the information that’s most relevant to you. By joining our communication list, you’ll stay informed and be the first to know about ways to get involved and make an impact in your community.',
      },
    ]}
  />
</Layout>
