---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import PhoneHero from '~/components/widgets/PhoneHero.astro';

const metadata = {
  title: 'A Greater Republic Political Action Committee',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <PhoneHero image={{ src: '~/assets/images/austin.jpg', alt: 'Capitol Building, Austin, Texas' }}>
    <Fragment slot="title">
      Stop siting on the sidelines<br />
      <span class="text-redAGR dark:text-white"> Fight for A Greater Republic</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="block mb-1 sm:hidden text-blueAGR">A Greater Republic</span>
      A Greater Republic began with a group of conservative voters concerned for our local politics. Watching Texas counties
      turn from their roots in faith, freedom, and justice, A Greater Republic organized to support traditional values. <span
        className="boldMessage">Text us to get started.</span
      >
    </Fragment>
  </PhoneHero>
  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why A Greater Republic',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. In consectetur vehicula massa viverra tempus. Aliquam lobortis felis ac convallis porta. Orci varius natoque penatibus et magnis dis parturient mo.',
      },
      {
        title: 'What do I need to start?',
        description:
          "You don't need anything to start, send us a text or submit your phone number above and we will send you some options to get started.",
      },
      {
        title: 'What has experience taught you?',
        description:
          "Experience taught me a few things. One is to listen to your gut, no matter how good something sounds on paper. The second is that you're generally better off sticking with what you know. And the third is that sometimes your best investments are the ones you don't make.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Volunteers', amount: '132K' },
      { title: 'Hours', amount: '24.8K' },
      { title: 'Followers', amount: '10.3K' },
      { title: 'Something', amount: '48.4K' },
    ]}
  />
</Layout>
