---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Prices from '~/components/widgets/Pricing.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Steps from '~/components/widgets/Steps.astro';
import Features3 from '~/components/widgets/Features3.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Candidate from '~/components/widgets/Candidate.astro';

const metadata = {
  title: 'Voter Guide | A Greater Republic PAC',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText
    tagline="2024"
    title="TRAVIS COUNTY REPUBLICAN CANDIDATES"
    subtitle="Click on any candidate to learn more."
  />

  <h2 class="text-xl md:text-3xl text-center">ELECTION DAY: TUESDAY, NOV. 5<br />EARLY VOTING OCT. 21-NOV. 1, 2024</h2>

  <div class="max-w-3xl mx-auto px-4">
    <h2
      class="text-center md:text-left w-full text-lg font-heading font-semibold mt-12 text-gray-600 dark:text-gray-400"
    >
      Local Candidates
    </h2>
  </div>

  <div class="mt-6 mb-24 max-w-3xl mx-auto grid gap-6 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 px-4">
    <Candidate
      image={{
        src: '~/assets/images/2024/donna-campbell.jpg',
        alt: 'Donna Campbell photo',
      }}
      name="Donna Campbell"
      office="Texas Senate District 25"
      location="Local"
      incumbent="true"
      xProfile="https://twitter.com/johndoe"
      facebook="https://facebook.com/johndoe"
      truthsocial="https://truthsocial.com/@johndoe"
      url="https://www.donnacampbell.com/"
    />
    <Candidate
      image={{
        src: '~/assets/images/2024/Ellen-Troxclair.jpg',
        alt: 'Ellen Troxclair photo',
      }}
      name="Ellen Troxclair"
      office="Texas House District 19"
      location="Local"
      incumbent="true"
      xProfile="https://twitter.com/johndoe"
      facebook="https://facebook.com/johndoe"
      truthsocial="https://truthsocial.com/@johndoe"
      url="https://www.troxclairfortexas.com/"
    />
    <Candidate
      image={{
        src: '~/assets/images/2024/Nikki-Kosich.jpeg',
        alt: 'Nikki Kosich photo',
      }}
      name="Nikki Kosich"
      office="Texas House District 46"
      location="Local"
      xProfile="https://twitter.com/johndoe"
      facebook="https://facebook.com/johndoe"
      truthsocial="https://truthsocial.com/@johndoe"
      url="https://ballotpedia.org/Nikki_Kosich"
    />
    <Candidate
      image={{
        src: '~/assets/images/2024/scott-firsing.jpeg',
        alt: 'Scott Firsing photo',
      }}
      name="Scott Firsing"
      office="Texas House District 47"
      location="Local"
      xProfile="https://twitter.com/johndoe"
      facebook="https://facebook.com/johndoe"
      truthsocial="https://truthsocial.com/@johndoe"
      url="https://www.scottfirsing.com/"
    />
    <Candidate
      image={{
        src: '~/assets/images/2024/daniel-betts.jpeg',
        alt: 'Daniel W. Betts photo',
      }}
      name="Daniel W. Betts"
      office="Texas County District Attorney"
      location="Local"
      xProfile="https://twitter.com/johndoe"
      facebook="https://facebook.com/johndoe"
      truthsocial="https://truthsocial.com/@johndoe"
      url="https://bettsforda.com/"
    />
  </div>

  <div class="max-w-3xl mx-auto px-4">
    <h2
      class="text-center md:text-left w-full text-lg font-heading font-semibold mt-12 text-gray-600 dark:text-gray-400"
    >
      State & Regional Candidates
    </h2>
  </div>

  <div class="mt-6 mb-24 max-w-3xl mx-auto grid gap-6 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 px-4">
    <Candidate
      image={{
        src: '~/assets/images/2024/christi-craddick.jpg',
        alt: 'Christi Craddick photo',
      }}
      name="Christi Craddick"
      office="Texas Railroad Commissioner"
      location="Local"
      incumbent="true"
      xProfile="https://twitter.com/johndoe"
      facebook="https://facebook.com/johndoe"
      truthsocial="https://truthsocial.com/@johndoe"
      url="https://christicraddick.com/"
    />
    <Candidate
      image={{
        src: '~/assets/images/2024/jimmy-blacklock.jpg',
        alt: 'Jimmy Blacklock photo',
      }}
      name="Jimmy Blacklock"
      office="Justice, Supreme Court, Place 2"
      location="Local"
      xProfile="https://twitter.com/johndoe"
      facebook="https://facebook.com/johndoe"
      truthsocial="https://truthsocial.com/@johndoe"
      url="https://www.jimmyblacklock.com/"
    />
    <Candidate
      image={{
        src: '~/assets/images/2024/john-devine.jpeg',
        alt: 'John Devine photo',
      }}
      name="John Devine"
      office="Justice, Supreme Court, Place 4"
      location="Local"
      incumbent="true"
      xProfile="https://twitter.com/johndoe"
      facebook="https://facebook.com/johndoe"
      truthsocial="https://truthsocial.com/@johndoe"
      url="https://justicedevinetx.com/"
    />
    <Candidate
      image={{
        src: '~/assets/images/2024/jane-bland.jpeg',
        alt: 'Jane Bland photo',
      }}
      name="Jane Bland"
      office="Justice, Supreme Court, Place 6"
      location="Local"
      incumbent="true"
      xProfile="https://twitter.com/johndoe"
      facebook="https://facebook.com/johndoe"
      truthsocial="https://truthsocial.com/@johndoe"
      url="https://www.justicejanebland.com/"
    />
    <Candidate
      image={{
        src: '~/assets/images/2024/david-schenck.jpeg',
        alt: 'David Scheneck photo',
      }}
      name="David Scheneck"
      office="Presiding Judge, Court of Criminal Appeals"
      location="Local"
      xProfile="https://twitter.com/johndoe"
      facebook="https://facebook.com/johndoe"
      truthsocial="https://truthsocial.com/@johndoe"
      url="https://www.schenckfortexas.com/"
    />
    <Candidate
      image={{
        src: '~/assets/images/2024/gina-parker.jpg',
        alt: 'Gina Parker photo',
      }}
      name="Gina Parker"
      office="Judge, Court of Criminal Appeals, Place 7"
      location="Local"
      xProfile="https://twitter.com/johndoe"
      facebook="https://facebook.com/johndoe"
      truthsocial="https://truthsocial.com/@johndoe"
      url="https://ginaparkercampaign.com/"
    />
    <Candidate
      image={{
        src: '~/assets/images/2024/lee-finley.jpeg',
        alt: 'Lee Finley photo',
      }}
      name="Lee Finley"
      office="Judge, Court of Criminal Appeals, Place 8"
      location="Local"
      xProfile="https://twitter.com/johndoe"
      facebook="https://facebook.com/johndoe"
      truthsocial="https://truthsocial.com/@johndoe"
      url="https://finleyforjudge.com/"
    />
    <Candidate
      image={{
        src: '~/assets/images/2024/john-messinger.jpeg',
        alt: 'John Messinger photo',
      }}
      name="John Messinger"
      office="Third Court of Appeals, Place 2"
      location="Local"
      xProfile="https://twitter.com/johndoe"
      facebook="https://facebook.com/johndoe"
      truthsocial="https://truthsocial.com/@johndoe"
      url="https://messingerforjustice.com/"
    />
  </div>

  <div class="max-w-3xl mx-auto px-4">
    <h2
      class="text-center md:text-left w-full text-lg font-heading font-semibold mt-12 text-gray-600 dark:text-gray-400"
    >
      National Candidates
    </h2>
  </div>

  <div class="mt-6 mb-24 max-w-3xl mx-auto grid gap-6 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 px-4">
    <Candidate
      image={{
        src: '~/assets/images/2024/donald-trump.jpeg',
        alt: 'Donald J. Trump photo',
      }}
      name="Donald J. Trump"
      office="United States President"
      location="Federal"
      xProfile="https://x.com/realdonaldtrump"
      facebook="https://www.facebook.com/DonaldTrump"
      truthsocial="https://truthsocial.com/@realdonaldtrump"
      url="https://www.donaldjtrump.com/"
    />
    <Candidate
      image={{
        src: '~/assets/images/2024/ted-cruz.jpeg',
        alt: 'Ted Cruz photo',
      }}
      name="Ted Cruz"
      office="United States Senate"
      location="Federal"
      xProfile="https://x.com/tedcruz"
      facebook="https://www.facebook.com/SenatorTedCruz"
      truthsocial="https://truthsocial.com/@tedcruz"
      url="https://www.tedcruz.org/"
    />
    <Candidate
      image={{
        src: '~/assets/images/2024/michael-mccaul.jpeg',
        alt: 'Michael McCaul photo',
      }}
      name="Michael McCaul"
      office="United States Congress, District 10"
      location="Federal"
      xProfile="https://x.com/tedcruz"
      facebook="https://www.facebook.com/SenatorTedCruz"
      truthsocial="https://truthsocial.com/@tedcruz"
      url="https://michaelmccaul.com/"
    />
  </div>
</Layout>
